@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    padding: 0;
    margin: 0;
    background-color: #e4ebf5;
    font-family: 'FontLight', sans-serif;
}

header {
    background-color: rgb(255, 255, 255);
    height: 83px;
    border-bottom: 4px solid rgb(7, 10, 170);
}

.logo-pagina img {
    width: 140px;
    height: 80px;
    position: relative;
    top: 4px;
    right: 7px;
}

.logo-pagina-form {
    position: relative;
    top: 4%;
    right: 90px;
    width: 140px;
    height: 110px;

}

.btn_menu {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

div.btn_menu-form {
    position: relative;
    left: 78.5%;
    bottom: 108%;
    width: 20%;
}

.btn_menu-form img {
    width: 32.5%;
    height: 32.5%;
}

.btn_menu img {
    width: 7%;
    height: 7%;
    position: relative;
    bottom: 78px;
}


.menu {
    width: 100%;
    display: flex;
    background-color: #070aaa;
    opacity: 0.85;
    position: relative;
    bottom: 64%;
    z-index: 100;
}

ul.navigation {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

/* si tiene tambien la clase show */
ul.navigation.show {
    display: flex;
}

ul.navigation li {
    list-style: none;
    margin: 0px 0px;
    padding: 15px 20px;
}

ul.navigation li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

ul.navigation li:hover {
    background-color: rgb(46, 122, 209);
}

.slogan {
    width: 100%;
    height: 50%;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
}

h2.titulo-vuelos {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 175%;
    position: relative;
    left: 2%;
    top: 40px;
    padding: 0;
    margin: 0;
    width: 90%;
    height: 35px;
    border: none;
    color: #070aaa;
}

h2.continente {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 195%;
    position: relative;
    left: 3%;
    top: 20px;
    padding: 0;
    margin: 0;
    width: 90%;
    height: 35px;
    border: none;
    color: #070aaa;
}

/*seccion sobre destinos de america en la pagina principal*/

.contenedor-grid-destinos {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin: 0;
    grid-row-gap: 5px;
}

.contenedor-grid-destinos2 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin: 0;
    grid-row-gap: 5px;
}

img {
    width: 96.5%;
    height: 70%;
    border-radius: 8px;
    z-index: 100;
}

.destinos {
    position: relative;
    top: 40px;
    text-align: center;
}

.contenedor-grid-destinos p {
    background-color: #070aaa;
    color: white;
    height: 22%;
    width: 96.8%;
    position: relative;
    bottom: 30px;
    left: 1.5%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "georama", sans-serif;
    font-style: normal;
    font-size: 130%;
}

.contenedor-grid-destinos2 p {
    background-color: #070aaa;
    color: white;
    height: 22%;
    width: 96.8%;
    position: relative;
    bottom: 30px;
    left: 1.5%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "georama", sans-serif;
    font-style: normal;
    font-size: 130%;
}

.btn-ver-mas {
    display: flex;
    position: relative;
    width: 100%;
    height: 40%;
    left: 300%;
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110%;
    color: #070aaa;
    position: relative;
    top: 35px;
    right: 7%;
}

span{
    color: rgb(1, 163, 1);
    font-size: 120%;
}

table {
    position: relative;
    top: 60px;
    width: 80%;
    height: 230px;
    left: 10%;
    border: 3px solid #070aaa;
    font-size: 145%;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
}

thead {
    background-color: #070aaa;
    color: white;
}

tbody {
    border-collapse: collapse;
    border: 1px solid #070aaa;
}

.aumento {
    display: flex;
    justify-content: center;
    height: 92%;
}

tfoot {
    color: #070aaa;
}

#formviaje{
    display: flex;
    position: relative;
    text-align: center;
    top: 60px;
    width: 90%;
}

#formviaje input{
    height: 20px;
    margin-right: 1%;
    margin-bottom: 2%;
    border: none;
    border-bottom: 2px solid #070aaa;
    background-color: transparent;
    font-size: 85%;
    outline: none;
}

#formviaje button{
    width: 45%;
    height: 40%;
    border-radius: 5%;
    border: none;
    background-color: #070aaa;
    color: white;
    font-size: 130%;
}

.btn-borrar, .btn-editar, .btn-subir{
    background-color: #070aaa;
    color: white;
    border: none;
    width: 50%;
    height: 25px;
    margin: 30px;
    font-size: 105%;
}

h2{
    position: relative;
    top: 50px;
    left: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 220%;
    color: #070aaa;
}

footer {
    background-color: #070aaa;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    position: relative;
    top: 80px;
    z-index: 1000;
}

.contenedor-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.email-footer {
    font-size: 160%;
    position: relative;
    top: 30%;
    border-top: 1px solid white;
    padding: 2%;
    color: white;

}

.telefono-footer {
    font-size: 160%;
    position: relative;
    bottom: 30%;
    color: white;
}

.derechos-footer {
    position: relative;
    top: 8%;
    font-size: 60%;
    color: white;
    z-index: 1000;
}


@media screen and (min-width: 660px) {

    /* en desktop ocultamos siempre el boton del menu */
    .btn_menu {
        display: none;
    }

    .btn_menu-form{
        display: none;
    }

    /* cambiamos la direccion del flex */
    ul.navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    body {
        padding: 0;
        margin: 0;
    }

    .logo-pagina img {
        position: relative;
        top: 15px;
        left: 8px;
        width: 170px;
        height: 100px;
        z-index: 1000;
    }

    .logo-paginaeuropa img {
        position: relative;
        top: 15px;
        left: 8px;
        width: 170px;
        height: 100px;
        z-index: 1000;
    }

    header {
        position: relative;
        height: 110px;
    }

    .menu {
        width: 100%;
        height: 100px;
        position: relative;
        bottom: 80px;
        background-color: rgb(255, 255, 255);
        opacity: 1;
    }

    ul.navigation li a {
        color: #070aaa;
        font-size: 25px;
    }

    .slogan {
        width: 100%;
        height: 700px;
    }

    ul.navigation li:hover {
        background-color: rgb(116, 172, 236);
        border-radius: 8px;
    }

    .contenedor-grid-destinos {
        grid-template-columns: 25% 25% 25% 25%;
        position: relative;
        top: 30px;
    }

    .contenedor-grid-destinos2 {
        grid-template-columns: 25% 25% ;
        grid-template-rows: 100%;
        position: relative;
        top: 30px;
    }

    img {
        width: 108%;
        height: 100%;
    }

    .contenedor-grid-destinos2 img {
        width: 102%;
        height: 60%;
        position: relative;
        left: 5%;
        z-index: 0;
    }

    a .btn-ver-mas {
        top: 130px;
        width: 60%;
        height: 15%;
        left: 850%;
    }

    .contenedor-grid-destinos p {
        height: 90px;
        width: 108%;
        right: 0%;
        left: 0%;
        font-size: 170%;
    }

    .contenedor-grid-destinos2 p {
        height: 90px;
        width: 102%;
        right: 0%;
        left: 5%;
        font-size: 170%;
    }

    .titulo-vuelos {
        font-size: 300%;
        width: 70%;
        position: relative;
        bottom: 80px;
    }

    .continente {
        font-size: 33px;
    }

    .slogan {
        width: 100%;
        height: 100%;
    }

    table {
        font-size: 160%;
    }

    footer {
        height: 215px;
    }

    .email-footer {
        font-size: 210%;
        position: relative;
        top: 30%;
        border-top: 1px solid white;
        padding: 2%;

    }

    .telefono-footer {
        font-size: 210%;
        position: relative;
        bottom: 40%;
    }

    .derechos {
        font-size: 130%;
        position: relative;
        top: 0;
    }

    .lista{
        justify-content: space-around;
        font-size: 230%;
        top: 0;
        right: 5%;
    }
    #formviaje input{
        width: 120%;
        position: relative;
        left: 30%;
        bottom: 50%;
        height: 45%;
        font-size: 120%;
        margin: 0.5%;
    }

    table{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #formviaje button{
        position: relative;
        left: 160%;
        bottom: 100%;
        margin: 0.5%;
    }

    h2{
        margin: 2%;
    }

    .btn-borrar, .btn-editar, .btn-subir{
        width: 40%;
    }

    #formviaje button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        bottom: 170%;
        width: 40%;
        height: 50%;
        font-size: 170%;
    }

}